@model GuarderiaApp.Models.Niño

<h2>Crear Niño</h2>
<h4>Datos del Niño</h4>

<form asp-action="Create" method="post">
    <!-- Información del Niño -->
    <div class="form-group">
        <label for="NumeroMatricula">Numero Matricula</label>
        <input asp-for="NumeroMatricula" class="form-control" />
        <span asp-validation-for="NumeroMatricula" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <!-- Alergias -->
    <div class="form-group">
        <label asp-for="Alergias"></label>
        <textarea asp-for="Alergias" class="form-control" placeholder="Lista de alergias del niño (separadas por comas)"></textarea>
        <span asp-validation-for="Alergias" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="FechaNacimiento">Fecha Nacimiento</label>
        <input asp-for="FechaNacimiento" type="date" class="form-control" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label for="FechaIngreso">Fecha Ingreso</label>
        <input asp-for="FechaIngreso" type="date" class="form-control" />
        <span asp-validation-for="FechaIngreso" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>