@model IEnumerable<GuarderiaApp.Models.Niño>

<h2>Lista de Niños</h2>

<a asp-action="Create" class="btn btn-success mb-3">Crear Niño</a>

<table class="table">
    <thead>
        <tr>
            <th>Numero Matrícula</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Fecha de Ingreso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var niño in Model)
        {
            <tr>
                <td>@niño.NumeroMatricula</td>
                <td>@niño.Nombre</td>
                <td>@niño.FechaNacimiento.ToShortDateString()</td>
                <td>@niño.FechaIngreso.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@niño.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@niño.Id" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@niño.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
